---
layout: leftcol
title: JBoss Developer Design
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---
%br
%br

%a{href: "http://www.cafepress.com/jbossorg"}
  %img{alt: "Get your cool stuff from our Cafepress store.", height: "181", src: "http://static.jboss.org/coolstuff/images/coolstuff_cafepresspromo.jpg", style: "margin:0 auto;", width: "670"}
.well
  %p
    What is the Cool Stuff? Well, it's just that... cool stuff for the Community. We're passionate about the JBoss Community and the projects that call it home. Over time, we've created some really swank stuff for various tradeshows and parties and figured we'd share it with everyone. We've taken the best of our designs and made them available on Cafepress, perfect for inspiring your open source lifestyle.

  %p
    Check out our
    %a{href: "http://www.cafepress.com/jbossorg"} CafePress Store.

%br


%a{href: "#{site.base_url}/wallpapers.html"}
  %img{alt: "Get a cool JBoss Desktop.", height: "180", src: "http://static.jboss.org/coolstuff/images/coolstuff_desktoppromo.jpg", style: "margin:0 auto;", width: "670"}
.well
  %p
    We've also put together some cool Desktop Wallpapers so you can thumb your nose at the Man on your workstations and at those boring meetings you're sometimes forced to attend.

  %p
    Check out our
    %a{href: "#{site.base_url}/wallpapers.html"} Desktop Wallpaper.