---
layout: leftcol
title: APIviz Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "APIviz Desktop Wallpaper", src: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_800x600.jpg"}
%h3 APIviz
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_iphone.jpg"} iPhone
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1024x768.jpg"} 1024x768
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1024x800.jpg"} 1024x800
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1280x800.jpg"} 1280x800
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1440x900.jpg"} 1440x900
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1600x1200.jpg"} 1600x1200
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1680x1050.jpg"} 1680x1050
          |
          %a{href: "http://design.jboss.org/apiviz/desktop/images/desktop_apiviz_1920x1200.jpg"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7950049"} APIviz swag on Cafe Press.




