---
layout: leftcol
title: RiftSaw Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "RiftSaw Desktop Wallpaper", src: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_800x600.png"}
%h3 RiftSaw
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_iphone.png"} iPhone
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1024x768.png"} 1024x768
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1024x800.png"} 1024x800
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1280x800.png"} 1280x800
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1440x900.png"} 1440x900
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1600x1200.png"} 1600x1200
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1680x1050.png"} 1680x1050
          |
          %a{href: "http://design.jboss.org/riftsaw/desktop/images/desktop_riftsaw_1920x1200.png"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7028327"} RiftSaw swag on Cafe Press.




