---
layout: leftcol
title: Code Thug Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "Code Thug Desktop Wallpaper", src: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_800x600.jpg"}
%h3 Code Thug
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_320x480.jpg"} iPhone 4
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_640x960.jpg"} iPhone 5
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_750x1334.jpg"} iPhone 6
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1024x768.jpg"} 1024x768
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1024x800.jpg"} 1024x800
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1280x800.jpg"} 1280x800
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1440x900.jpg"} 1440x900
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1600x1200.jpg"} 1600x1200
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1680x1050.jpg"} 1680x1050
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/desktops/images/codethug/desktop_codethug_1920x1200.jpg"} 1920x1200




