---
layout: leftcol
title: RESTEasy Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "RESTEasy Desktop Wallpaper", src: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_800x600.png"}
%h3 RESTEasy
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_iphone.png"} iPhone
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1024x768.png"} 1024x768
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1024x800.png"} 1024x800
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1280x800.png"} 1280x800
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1440x900.png"} 1440x900
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1600x1200.png"} 1600x1200
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1680x1050.png"} 1680x1050
          |
          %a{href: "http://design.jboss.org/resteasy/desktop/images/desktop_resteasy_1920x1200.png"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7097895"} RESTEasy swag on Cafe Press.




