---
layout: leftcol
title: RHQ (Formerly Jopr) Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "RHQ (Formerly Jopr) Desktop Wallpaper", src: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_800x600.jpg"}
%h3 RHQ (Formerly Jopr)
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_iphone.jpg"} iPhone
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1024x768.jpg"} 1024x768
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1024x800.jpg"} 1024x800
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1280x800.jpg"} 1280x800
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1440x900.jpg"} 1440x900
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1600x1200.jpg"} 1600x1200
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1680x1050.jpg"} 1680x1050
          |
          %a{href: "http://design.jboss.org/rhq/desktop/images/desktop_rhq_1920x1200.jpg"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7025437"} RHQ (Formerly Jopr) swag on Cafe Press.




