---
layout: leftcol
title: Savara Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "Savara Desktop Wallpaper", src: "http://design.jboss.org/savara/desktop/images/desktop_savara_800x600.png"}
%h3 Savara
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_iphone.png"} iPhone
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1024x768.png"} 1024x768
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1024x800.png"} 1024x800
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1280x800.png"} 1280x800
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1440x900.png"} 1440x900
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1600x1200.png"} 1600x1200
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1680x1050.png"} 1680x1050
          |
          %a{href: "http://design.jboss.org/savara/desktop/images/desktop_savara_1920x1200.png"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7028331"} Savara swag on Cafe Press.




