---
layout: leftcol
title: Desktop Wallpapers
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---

%br
%br

/ Wallpaper thumbnails
.row-fluid
  %h2
    %span Desktop Wallpapers to make your computer awesome.

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-fabric8.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_fabric8_thumb.jpg"}
      %br
      %br
      %b Fabric8
  .span3.well.pull-center
    %a{:href => "/wallpaper-hawtio.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_hawtio_thumb.jpg"}
      %br
      %br
      %b Hawtio
  .span3.well.pull-center
    %a{:href => "/wallpaper-searchisko.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_searchisko_thumb.jpg"}
      %br
      %br
      %b Searchisko
  .span3.well.pull-center
    %a{:href => "/wallpaper-undertow.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_undertow_thumb.jpg"}
      %br
      %br
      %b Undertow

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-escalante.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_escalante_thumb.jpg"}
      %br
      %br
      %b Escalante
  .span3.well.pull-center
    %a{:href => "/wallpaper-windup.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_windup_thumb.jpg"}
      %br
      %br
      %b Windup
  .span3.well.pull-center
    %a{:href => "/wallpaper-wildfly.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_wildfly_thumb.jpg"}
      %br
      %br
      %b Wildfly
  .span3.well.pull-center
    %a{:href => "/wallpaper-ashiaro.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_ashiaro_thumb.jpg"}
      %br
      %br
      %b Ashiaro

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-portletbridge.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_portletbridge_thumb.jpg"}
      %br
      %br
      %b PortletBridge
  .span3.well.pull-center
    %a{:href => "/wallpaper-immutant.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_immutant_thumb.jpg"}
      %br
      %br
      %b Immutant
  .span3.well.pull-center
    %a{:href => "/wallpaper-jbossforge.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jbossforge_thumb.jpg"}
      %br
      %br
      %b JBoss Forge
  .span3.well.pull-center
    %a{:href => "/wallpaper-aerogear.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_aerogear_thumb.jpg"}
      %br
      %br
      %b AeroGear

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-capedwarf.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_capedwarf_thumb.jpg"}
      %br
      %br
      %b CapeDwarf
  .span3.well.pull-center
    %a{:href => "/wallpaper-ceylon.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_ceylon_thumb.jpg"}
      %br
      %br
      %b Ceylon
  .span3.well.pull-center
    %a{:href => "/wallpaper-apiviz.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_apiviz_thumb.jpg"}
      %br
      %br
      %b APIviz
  .span3.well.pull-center
    %a{:href => "/wallpaper-netty.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_netty_thumb.jpg"}
      %br
      %br
      %b Netty

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-jsfunit.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jsfunit_thumb.jpg"}
      %br
      %br
      %b JSF Unit
  .span3.well.pull-center
    %a{:href => "/wallpaper-narayana.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_narayana_thumb.jpg"}
      %br
      %br
      %b Narayana
  .span3.well.pull-center
    %a{:href => "/wallpaper-byteman.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_byteman_thumb.jpg"}
      %br
      %br
      %b Byteman
  .span3.well.pull-center
    %a{:href => "/wallpaper-guvnor.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_guvnor_thumb.jpg"}
      %br
      %br
      %b Guvnor

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-modcluster.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_modcluster_thumb.jpg"}
      %br
      %br
      %b Mod_cluster
  .span3.well.pull-center
    %a{:href => "/wallpaper-switchyard.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_switchyard_thumb.png"}
      %br
      %br
      %b SwitchYard
  .span3.well.pull-center
    %a{:href => "/wallpaper-jgroups.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jgroups_thumb.png"}
      %br
      %br
      %b jGroups
  .span3.well.pull-center
    %a{:href => "/wallpaper-scribble.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_scribble_thumb.jpg"}
      %br
      %br
      %b Scribble

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-ironjacamar.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_ironjacamar_thumb.jpg"}
      %br
      %br
      %b IronJacamar
  .span3.well.pull-center
    %a{:href => "/wallpaper-wise.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_wise_thumb.jpg"}
      %br
      %br
      %b Wise
  .span3.well.pull-center
    %a{:href => "/wallpaper-arquillian.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_arquillian_thumb.jpg"}
      %br
      %br
      %b arquillian
  .span3.well.pull-center
    %a{:href => "/wallpaper-pressgang.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_pressgang_thumb.jpg"}
      %br
      %br
      %b PressGang

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-cirras.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_cirras_thumb.jpg"}
      %br
      %br
      %b CirrAS
  .span3.well.pull-center
    %a{:href => "/wallpaper-resteasy.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_resteasy_thumb.jpg"}
      %br
      %br
      %b RestEasy
  .span3.well.pull-center
    %a{:href => "/wallpaper-hibernate.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_hibernate_thumb.jpg"}
      %br
      %br
      %b Hibernate
  .span3.well.pull-center
    %a{:href => "/wallpaper-errai.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_errai_thumb.jpg"}
      %br
      %br
      %b Errai

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-picketbox.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_picketbox_thumb.png"}
      %br
      %br
      %b PicketBox
  .span3.well.pull-center
    %a{:href => "/wallpaper-picketlink.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_picketlink_thumb.png"}
      %br
      %br
      %b PicketLink
  .span3.well.pull-center
    %a{:href => "/wallpaper-boxgrinder.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_boxgrinder_thumb.png"}
      %br
      %br
      %b Boxgrinder
  .span3.well.pull-center
    %a{:href => "/wallpaper-snowdrop.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_snowdrop_thumb.jpg"}
      %br
      %br
      %b Snowdrop

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-sam.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_sam_thumb.jpg"}
      %br
      %br
      %b SAM
  .span3.well.pull-center
    %a{:href => "/wallpaper-modeshape.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_modeshape_thumb.jpg"}
      %br
      %br
      %b ModeShape
  .span3.well.pull-center
    %a{:href => "/wallpaper-weld.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_weld_thumb.jpg"}
      %br
      %br
      %b Weld
  .span3.well.pull-center
    %a{:href => "/wallpaper-papaki.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_papaki_thumb.jpg"}
      %br
      %br
      %b Papaki

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-blip.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_blip_thumb.jpg"}
      %br
      %br
      %b Drools BLiP
  .span3.well.pull-center
    %a{:href => "/wallpaper-tattletale.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_tattletale_thumb.gif"}
      %br
      %br
      %b Tattletale
  .span3.well.pull-center
    %a{:href => "/wallpaper-jbpm.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_jbpm_thumb.jpg"}
      %br
      %br
      %b jBPM
  .span3.well.pull-center
    %a{:href => "/wallpaper-rhq.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_rhq_thumb.jpg"}
      %br
      %br
      %b RHQ

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-microcontainer.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_microcontainer_thumb.jpg"}
      %br
      %br
      %b JBoss Microcontainer
  .span3.well.pull-center
    %a{:href => "/wallpaper-mass.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_mass_thumb.jpg"}
      %br
      %br
      %b JBoss MASS
  .span3.well.pull-center
    %a{:href => "/wallpaper-infinispan.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_infinispan_thumb.jpg"}
      %br
      %br
      %b Infinispan
  .span3.well.pull-center
    %a{:href => "/wallpaper-mobicents.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_mobicents_thumb.jpg"}
      %br
      %br
      %b Mobicents

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-hornetq.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_hornetQ_thumb.jpg"}
      %br
      %br
      %b HornetQ
  .span3.well.pull-center
    %a{:href => "/wallpaper-tohu.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_tohu_thumb.jpg"}
      %br
      %br
      %b Tohu
  .span3.well.pull-center
    %a{:href => "/wallpaper-shrinkwrap.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_shrinkwrap_thumb.jpg"}
      %br
      %br
      %b ShrinkWrap
  .span3.well.pull-center
    %a{:href => "/wallpaper-richfaces.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_richfaces_thumb.jpg"}
      %br
      %br
      %b RichFaces

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-tools.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_tools_thumb.gif"}
      %br
      %br
      %b JBoss Tools
  .span3.well.pull-center
    %a{:href => "/wallpaper-teiid.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_teiid_thumb.gif"}
      %br
      %br
      %b Teiid
  .span3.well.pull-center
    %a{:href => "/wallpaper-seam.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_seam_thumb.jpg"}
      %br
      %br
      %b Seam
  .span3.well.pull-center
    %a{:href => "/wallpaper-embjopr.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_embjopr_thumb.jpg"}
      %br
      %br
      %b Embedded Jopr

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-blacktie.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_blacktie_thumb.jpg"}
      %br
      %br
      %b BlackTie
  .span3.well.pull-center
    %a{:href => "/wallpaper-torquebox.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_torquebox_thumb.jpg"}
      %br
      %br
      %b TorqueBox
  .span3.well.pull-center
    %a{:href => "/wallpaper-riftsaw.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_riftsaw_thumb.png"}
      %br
      %br
      %b RiftSaw
  .span3.well.pull-center
    %a{:href => "/wallpaper-savara.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_savara_thumb.png"}
      %br
      %br
      %b Savara

.row-fluid
  .span3.well.pull-center
    %a{:href => "/wallpaper-xnio.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_xnio_thumb.png"}
      %br
      %br
      %b Xnio
  .span3.well.pull-center
    %a{:href => "/wallpaper-overlord.html"}
      %img{src: "http://static.jboss.org/coolstuff/thumbs/desktop_overlord_thumb.jpg"}
      %br
      %br
      %b Overlord

