---
layout: leftcol
title: Tattletale Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "Tattletale Desktop Wallpaper", src: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_800x600.gif"}
%h3 Tattletale
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_iphone.gif"} iPhone
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1024x768.gif"} 1024x768
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1024x800.gif"} 1024x800
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1280x800.gif"} 1280x800
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1440x900.gif"} 1440x900
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1600x1200.gif"} 1600x1200
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1680x1050.gif"} 1680x1050
          |
          %a{href: "http://design.jboss.org/tattletale/desktop/images/desktop_tattletale_1920x1200.gif"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7025312"} Tattletale swag on Cafe Press.




