---
layout: leftcol
title: CDI Spec Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "CDI Desktop Wallpaper", src: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_800x600.jpg"}
%h3 cdi
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_iphone4_320x480.jpg"} iPhone 4
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_iphone5_640x1136.jpg"} iPhone 5
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_iphone6_852x1608.jpg"} iPhone 6
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_iphone6plus_2662x2662.jpg"} iPhone 6 Plus
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_480x800.jpg"} 480x800
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_640x480.jpg"} 640x480
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_800x480.jpg"} 800x480
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_800x600.jpg"} 800x600
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1024x768.jpg"} 1024x768
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1024x800.jpg"} 1024x800
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1280x800.jpg"} 1280x800
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1440x900.jpg"} 1440x900
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1600x1200.jpg"} 1600x1200
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1680x1050.jpg"} 1680x1050
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_1920x1200.jpg"} 1920x1200
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_2560x1440.jpg"} 2560x1440
          |
          %a{href: "http://design.jboss.org/cdi/desktop/images/cdi_desktop_2560x1600.jpg"} 2560x1600




