---
layout: leftcol
title: JBoss Community Asylum Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "JBoss Community Asylum Wallpaper", src: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_800x600.png"}
%h3 JBoss Community Asylum
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_iphone.png"} iPhone
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_640x480.png"} 640x480
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_800x600.png"} 800x600
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1024x768.png"} 1024x768
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1024x800.png"} 1024x800
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1280x800.png"} 1280x800
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1440x900.png"} 1440x900
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1600x1200.png"} 1600x1200
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1680x1050.png"} 1680x1050
          |
          %a{href: "http://design.jboss.org/jbossorg/branding/jboss_community_asylum/desktop/images/desktop_jbossasylum_1920x1200.png"} 1920x1200