---
layout: leftcol
title: SAM Desktop Wallpaper
nav_partial: empty.html.haml
projectfooter_partial: empty.html.haml
---


.uploaded-img
  %img{alt: "SAM Desktop Wallpaper", src: "http://design.jboss.org/sam/desktop/images/desktop_sam_800x600.jpg"}
%h3 SAM
%table
  %tbody
    %tr
      %td
        %div
          Resolutions:
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_iphone.jpg"} iPhone
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1024x768.jpg"} 1024x768
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1024x800.jpg"} 1024x800
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1280x800.jpg"} 1280x800
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1440x900.jpg"} 1440x900
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1600x1200.jpg"} 1600x1200
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1680x1050.jpg"} 1680x1050
          |
          %a{href: "http://design.jboss.org/sam/desktop/images/desktop_sam_1920x1200.jpg"} 1920x1200
          %br
            Get some
            %a{href: "http://www.cafepress.com/jbossorg/7037199"} SAM swag on Cafe Press.




