%h3
  %a{href: "/wallpapers.html"} Desktop Wallpaper

%ul.icons-ul
  %li
    %a{href: "/wallpaper-aerogear.html"} AeroGear
  %li
    %a{href: "/wallpaper-apiviz.html"} APIviz
  %li
    %a{href: "/wallpaper-ashiaro.html"} Ashiaro
  %li
    %a{href: "/wallpaper-arquillian.html"} Arquillian
  %li
    %a{href: "/wallpaper-blacktie.html"} Blacktie
  %li
    %a{href: "/wallpaper-boxgrinder.html"} BoxGrinder
  %li
    %a{href: "/wallpaper-byteman.html"} Byteman
  %li
    %a{href: "/wallpaper-capedwarf.html"} CapeDwarf
  %li
    %a{href: "/wallpaper-ceylon.html"} Ceylon
  %li
    %a{href: "/wallpaper-cirras.html"} CirrAS
  %li
    %a{href: "/wallpaper-blip.html"} Drools BLiP
  %li
    %a{href: "/wallpaper-embjopr.html"} Embedded Jopr
  %li
    %a{href: "/wallpaper-errai.html"} Errai
  %li
    %a{href: "/wallpaper-escalante.html"} Escalante
  %li
    %a{href: "/wallpaper-fabric8.html"} Fabric8
  %li
    %a{href: "/wallpaper-guvnor.html"} Guvnor
  %li
    %a{href: "/wallpaper-hawtio.html"} Hawtio
  %li
    %a{href: "/wallpaper-hibernate.html"} Hibernate
  %li
    %a{href: "/wallpaper-hornetq.html"} HornetQ
  %li
    %a{href: "/wallpaper-immutant.html"} Immutant
  %li
    %a{href: "/wallpaper-infinispan.html"} Infinispan
  %li
    %a{href: "/wallpaper-ironjacamar.html"} IronJacamar
  %li
    %a{href: "/wallpaper-jbossforge.html"} JBoss Forge
  %li
    %a{href: "/wallpaper-jbossmass.html"} JBoss Mass
  %li
    %a{href: "/wallpaper-jbossmicrocontainer.html"} JBoss Microcontainer
  %li
    %a{href: "/wallpaper-tools.html"} JBoss Tools
  %li
    %a{href: "/wallpaper-jbpm.html"} jBPM
  %li
    %a{href: "/wallpaper-jgroups.html"} JGroups
  %li
    %a{href: "/wallpaper-jsfunit.html"} JSF Unit
  %li
    %a{href: "/wallpaper-mobicents.html"} Mobicents
  %li
    %a{href: "/wallpaper-modcluster.html"} Mod_cluster
  %li
    %a{href: "/wallpaper-modeshape.html"} ModeShape
  %li
    %a{href: "/wallpaper-narayana.html"} Narayana
  %li
    %a{href: "/wallpaper-netty.html"} Netty
  %li
    %a{href: "/wallpaper-overlord.html"} Overlord
  %li
    %a{href: "/wallpaper-papaki.html"} Papaki
  %li
    %a{href: "/wallpaper-picketbox.html"} PicketBox
  %li
    %a{href: "/wallpaper-picketlink.html"} PicketLink
  %li
    %a{href: "/wallpaper-portletbridge.html"} PortletBridge
  %li
    %a{href: "/wallpaper-pressgang.html"} PressGang
  %li
    %a{href: "/wallpaper-resteasy.html"} RESTEasy
  %li
    %a{href: "/wallpaper-rhq.html"} RHQ
  %li
    %a{href: "/wallpaper-richfaces.html"} RichFaces
  %li
    %a{href: "/wallpaper-riftsaw.html"} RiftSaw
  %li
    %a{href: "/wallpaper-sam.html"} SAM
  %li
    %a{href: "/wallpaper-savara.html"} Savara
  %li
    %a{href: "/wallpaper-scribble.html"} Scribble
  %li
    %a{href: "/wallpaper-seam.html"} Seam
  %li
    %a{href: "/wallpaper-searchisko.html"} Searchisko
  %li
    %a{href: "/wallpaper-shrinkwrap.html"} ShrinkWrap
  %li
    %a{href: "/wallpaper-snowdrop.html"} Snowdrop
  %li
    %a{href: "/wallpaper-switchyard.html"} SwitchYard
  %li
    %a{href: "/wallpaper-tattletale.html"} Tattletale
  %li
    %a{href: "/wallpaper-teiid.html"} Teiid
  %li
    %a{href: "/wallpaper-thermostat.html"} Thermostat
  %li
    %a{href: "/wallpaper-tohu.html"} Tohu
  %li
    %a{href: "/wallpaper-torquebox.html"} TorqueBox
  %li
    %a{href: "/wallpaper-undertow.html"} Undertow
  %li
    %a{href: "/wallpaper-weld.html"} Weld
  %li
    %a{href: "/wallpaper-wildfly.html"} WildFly
  %li
    %a{href: "/wallpaper-windup.html"} Windup
  %li
    %a{href: "/wallpaper-wise.html"} Wise
  %li
    %a{href: "/wallpaper-xnio.html"} XNIO
